services:
  devcontainer:
    image: mcr.microsoft.com/devcontainers/typescript-node:20
    volumes:
      - ..:/workspaces/AllianceOps:cached
    command: sleep infinity
    depends_on:
      - postgres
      - azurite
    environment:
      - DATABASE_URL=postgresql://allianceops:allianceops@postgres:5432/allianceops
      - AZURITE_CONNECTION_STRING=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;QueueEndpoint=http://azurite:10001/devstoreaccount1;TableEndpoint=http://azurite:10002/devstoreaccount1
    env_file:
      - path: .env
        required: false

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: allianceops
      POSTGRES_PASSWORD: allianceops
      POSTGRES_DB: allianceops
    ports:
      - '5432:5432'
    volumes:
      - postgres-data:/var/lib/postgresql/data

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    restart: unless-stopped
    ports:
      - '10000:10000'
      - '10001:10001'
      - '10002:10002'
    volumes:
      - azurite-data:/data

volumes:
  postgres-data:
  azurite-data:
